* {
    box-sizing: border-box;
    margin: 0;
}
main, footer, .block {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.description {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
#work-header {
    color: black;
}
p {
    margin-right: 40px;
    margin-left: 40px;
}

#description-heading {
    text-align: center;

}
.topnav {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   border: 2px solid black; 
}
#top-left-logo {
 margin-right: auto;
 margin-left: 15px;
}
a {
    padding: 10px;
}
#bio{
    background-color: lightgrey;
    border: 1px solid black;
}
#my-work {
    background-color: lightgrey;
    border: 1px solid black;
}

#about-me {
    background-color: grey;
    border: 1px solid black;
}

@media (min-width: 475px) {
    #bio {
        flex-direction: row;
        align-items: center;
        height: 300px;
    }
    .block {
        height: 300px;
    }

    #description-heading {
        margin-left: 25px;
        margin-right: 25px;
    }
    footer {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .logo-text {
        margin-right: auto;
    }


}

@media (min-width: 1100px) {
    .block {
        width: 100%;
        flex-direction: row;
    }
    .section-links {
        margin-right: auto;
        margin-left: 45px;
    }
    .section-header-secondary{
        text-align: center;
        margin-left: 40px;
    }
    .logo-text {
        margin-left: 25px;
    }
}

