* {
    box-sizing: border-box;
}
body {
    padding: 15px;
}
main, footer{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darkslategrey;
    border: 1px solid black;
}
.topnav {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   border: 2px solid black; 
}
#top-left-logo {
 margin-right: auto;
 margin-left: 15px;
}
a {
    margin-right: .5em;
}
#bio{
    background: lightgrey;
    border: 1px solid black;
}
#my-work {
    background: grey;
    border: 1px solid black;
}

.quizapp {
    border: 1px solid black;
}
#about-me {
    background: grey;
    border: 1px solid black;
}
